@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dialog-content {
  display: flex;
  width: 100%;
  height: 100%;
}
.qr-content,
.upload-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
}
.qr {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.device-list {
  background-color: rgb(248, 239, 222);
  border-radius: 10px;
}
.fileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fileIcon svg {
  font-size: xxx-large;
}
.fileIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}
.list,
.list2 {
  display: flex;

  flex-wrap: wrap;
}
.list > *,
.list2 > button {
  margin: 10px 5px;
  margin-top: 0;
}
.file-nav {
  background-color: whitesmoke;
}
.file-nav > * {
  z-index: 1010;
}
